@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wdth@100..125&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
body{
    background-color: rgb(255, 207, 217);
    overflow-x: hidden;
}
*{
    margin: 0;
}

.nav-logo{
    width: 10%;
    margin-top: 4px;
    margin-right: auto;
     margin-left: 1.5cm;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    background: white
}
ul {
   margin-top: 0.8cm;
}

li {
    list-style-type: none;
    display: inline;
padding: 20px;
}

a {
    text-decoration: none;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-style: normal;
  color: rgb(27, 25, 25);
  font-size: 20px;
}
a:hover{
    color: rgb(218, 99, 139);
    
}

@media screen and (max-width:952px){
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo{
        background-color: black;
        padding: 8px;
        margin-right: 0px;
        width: 250px;

    }

    ul{
        margin-top: 0;
    }

    li{
        list-style-type: none;
        display: flex;
        padding: 10px;
        justify-content: center;
        width: 100vw;
    }

    li:hover{
        border: solid 5px pink;
    }
    
    a:hover{
        color: palevioletred;

    }
}